<a href="https://colab.research.google.com/github/smilesrgouveia/Aula/blob/main/TarefaTrilha2_PL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

school = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/gapminder_school_men_15_to_24_years.csv')
school.head()

       country  1970  1971  1972  1973  ...   2011   2012   2013   2014   2015
0  Afghanistan  1.82  1.87  1.92  1.97  ...   4.84   4.94   5.05   5.16   5.27
1      Albania  5.47  5.58  5.69  5.80  ...  10.60  10.70  10.90  11.00  11.20
2      Algeria  2.77  2.86  2.95  3.04  ...   8.85   8.99   9.14   9.28   9.42
3      Andorra  9.16  9.30  9.44  9.58  ...  14.50  14.60  14.70  14.80  14.90
4       Angola  2.25  2.31  2.36  2.42  ...   5.66   5.78   5.90   6.02   6.14

[5 rows x 47 columns]

In [ ]:
school_BR = school[ school.country == 'Brazil' ]
school_BR